header {
    padding: 75px 0px;
    background: #2257ad;
    color: #fff;
}

#train-schedule {
    padding: 25px 0px;
}

#register-train {
    padding: 25px 0px;
    background: #2257ad;
    color: #fff;
}